.idea/
SummarizeWordNet.iml

target/

# input files
input/
output_per_img_parcat.tsv
content_tags.tsv

# results files
logs.log
context-location-tags.txt
context-time-tags.txt
missing_wordnet.txt
replaced_entities_per_img.tsv

output/
output_per_tag.tsv
output_per_img.tsv
summarization_result.tsv
summary_by_count.tsv
summary_by_weight.tsv

config.properties